.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.portfolio__item {
  background: var(--color-bg-variant);
  padding: 1.25rem;
  transition: var(--transition);
  border: 1px solid transparent;
  border-radius: 2rem;
}

.portfolio__item:hover {
  background: transparent;
  border: 1px solid var(--color-primary-variant);
}

.portfolio__item--img {
  border-radius: 1.5rem;
  overflow: hidden;
}

.portfolio__item h3 {
  margin: 1.5rem 0;
}

.portfolio__item--cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
}

/* =============== media queies for medium divices =============== */
@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* =============== media queies for small divices =============== */
@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}
